@page
@model LogoutModel
@{
    ViewData["Title"] = "Wylogowanie";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated == true)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Kliknij tutaj aby dokonać wylogowania</button>
            </form>
        }
        else
        {
            <p>Poprawnie wylogowano z aplikacji.</p>
        }
    }
</header>
