@model IEnumerable<ScooterRentalApp.Data.Rental>

@{
    ViewBag.Title = "Rentals";
}

<h2>Aktualne wypożyczenia</h2>

<table class="table">
    <tr>
        <th>Klient</th>
        <th>Hulajnoga</th>
        <th>Data wypożyczenia</th>
        <th>Planowany zwrot</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Client.Email</td>
            <td>@item.Scooter.Model</td>
            <td>@item.RentalDate</td>
            <td>@item.PlannedReturnDate</td>
        </tr>
    }
</table>
