@{
    ViewData["Title"] = "Powitanie";
}

<div style="display: flex; align-items: center; justify-content: space-between;">
    <div style="max-width: 50%;">
        <h1 class="display-4">Witaj</h1>
        <p>Przeglądaj, rezerwuj i wypożyczaj hulajnogi.</p>
    </div>
    <div style="max-width: 45%;">
        <img src="~/Views/Home/scooter-login.png" alt="Scooter Rental" style="width: 100%; height: auto;" />
    </div>
</div>
